/*= @group Layout
---------------------------------------------------------------------- */
// Example layout styles, delete me

  /*= @group Layout Helpers
  ---------------------------------------------------------------------- */

  .l-constrained {
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
  }

  /*= @group Layout Helpers
  ---------------------------------------------------------------------- */

  body {
    color: $color-text;
    background-color: $color-background;
  }

  /*= @group Banner
  ---------------------------------------------------------------------- */

  [role="banner"] {
  }

    /*= @group Branding
    ---------------------------------------------------------------------- */
    // This could (should?) be a module but is left here for demo purposes.

    .branding {
      @extend .l-constrained;
      margin-top: rs($base-lh);

      .branding-logo {
        margin: 0;
      }
      .branding-tagline {
        color: $color-note;
        font-size: rs(18);
        font-style: italic;
      }
    }

  /*= @group Main
  ---------------------------------------------------------------------- */

  [role="main"] {

  }

  /*= @group Contentinfo
  ---------------------------------------------------------------------- */

  [role="contentinfo"] {
    font-size: rs(14,$base-fs);
    margin-top: rs($base-lh);
  }
